<article>
  <div class="col-md-12">
    <div class="thumbnail thumbnail-aside">
      <img src="..." alt="Avatar Bloggeur">
      <div class="caption">
        <h3>Qui suis-je ?</h3>
        <p>bonjour josépine : Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nemo aliquam illo dolorem accusamus,
          cumque, quo veritatis voluptatibus velit consequuntur esse praesentium architecto dolores beatae tenetur molestias
          rem amet ea.</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">Me contacter</a>
          <a href="#" class="btn btn-default" role="button">Réseaux sociaux</a>
        </p>
      </div>
    </div>
  </div>
</article>