/* Couleurs principales
VERT : #17bba0;
BLEU : #2a3f54;
ORANGE : #e75c21;
*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    font-family: "Nunito";
}

img{
    height: 250px !important;
    border-radius: 2%;    
}

hr{
    background: #aaa;
    height: 1px;
    margin: 10px 10px 0px 10px;
}
.navbar{
    background: #2a3f54;
    color: #17bba0;
}

.navbar a{
    color: #17bba0 !important;
}

.navbar a:hover{
    color: #e75c21 !important;
}

.btn-comment, .border-comment:hover{
    border-color: white !important;
    cursor: default !important;
}

.apercu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*HOME*/
.thumbnail{
    border: none;
    height: 450px;
    padding: 0px;
}

.thumbnail-aside{
    height: auto;
}

.img-article-apercu{
    border-radius: 2%;
}

/*FIN HOME*/

/*ARTICLES*/
.featurette-divider{
    margin:20px 0px;

}
/*FIN ARTICLES*/

footer{
    margin-top: 30px;
    padding: 20px 0px;
    background: #2a3f54;
    color: #17bba0;
}