<%- contentFor('content') %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <section>
        <%- include('../includes/articles.ejs') %>
      </section>  
    </div>
    <div class="col-md-4">
      <%- include('../includes/profil_admin.ejs') %>
    </div>
  </div>
</div>