<%- contentFor('content') %>
<div class="container-fluid">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
    <div class="row">
      <form method="post" action="/register">
        <div class="form-group">
          <label for="exampleInputEmail1">Nom</label>
          <input type="text" name="name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" name="surname" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="avatart">Mot de passe</label>
          <input type="password" name="password" class="form-control" placeholder="Mot de passe">
        </div>
        <div class="form-group">
          <label for="avatart">Confirmation de mot de passe</label>
          <input type="password" name="confirmPassword" class="form-control" placeholder="Mot de passe">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Avatar</label>
          <input type="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>  